@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<style>
    .active-cyan-4 input[type=text]:focus:not([readonly]) {
        border: 1px solid #4dd0e1;
        box-shadow: 0 0 0 1px #4dd0e1;
    }

    .active-cyan-3 input[type=text] {
        border: 1px solid #4dd0e1;
        box-shadow: 0 0 0 1px #4dd0e1;
    }
</style>

@using (Html.BeginForm())
{
<div class="container" style="width:50%;padding-top: 1%">
    <h3 style="text-align: center; color:#505050">ĐĂNG KÝ THÀNH VIÊN MỚI</h3><br />
    <p>@ViewBag.tbl</p>
<div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Họ và tên" name="hoten">
        </div>
        <br />    
    <span>@ViewData["Loi1"]</span>
    <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Ngày sinh" name="ngaysinh">
        </div>   
    <span>@ViewData["Loi2"]</span>
     <div class="active-cyan-3 active-cyan-4 mb-4">
            <input type="radio" name="gioitinh" value="Nam">Nam
         <input type="radio" name="gioitinh" value="Nữ">Nữ
        </div>   
    <span>@ViewData["Loi3"]</span>
    <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Số điện thoại" name="dienthoai">
        </div>
        <br />    
    <span>@ViewData["Loi4"]</span>
    
    <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Email" name="email">
        </div>
        <br />    
    <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Tên đăng nhập" name="tendn">
        </div>
        <br />    
    <span>@ViewData["Loi5"]</span>
    <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="password" placeholder="Mật khẩu" name="matkhau">
        </div>
        <br />    
    <span>@ViewData["Loi6"]</span>
    <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="password" placeholder="Nhập lại mật khẩu" name="rematkhau">
        </div>
        <br />    
    <span>@ViewData["Loi7"]</span>
    <center><input id="Submit1" type="submit" class="btn btn-primary" value="Đăng ký" /></center>
</div>
}

